input[type=text] {
    display: block;
    margin-bottom: 20px;
}

/* label {
    display: block;
    margin-top: 20px;
}  */

ul.radios {
   list-style-type: none;
   padding: 2px;
}
a.return:link {
   display: block;

}

select {
    display: block;
    margin-bottom: 20px;
}